/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: right;
    direction: rtl;
}

.mat-form-field-appearance-legacy .mat-form-field-infix,
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    text-align: right;
    direction: rtl;
}

.cal-week-view .cal-time-events {
 
    flex-flow: row-reverse;
}